.logo {
    height: 30px;
}

.text-c{
    text-align: center;
    margin-top: 300px;
}

a.grey-ref{
    color:grey;
    text-decoration: none;
}
  
a.grey-ref:hover{
    color: black;
    text-decoration: underline;
}

.log-form:focus{
    color : #fff
}

footer.to-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#page-container{
    position: relative;
    min-height: 100vh;
}

#content-container{
    padding-bottom: 200px;
}

#tool-button{
    bottom: 15%;
    left: 2%;
}