.logo {
    height: 30px;
}

.text-c{
    text-align: center;
    margin-top: 300px;
}

a.grey-ref{
    color:grey;
    text-decoration: none;
}
  
a.grey-ref:hover{
    color: black;
    text-decoration: underline;
}